:root {
  --bg-color: #292a2d;
  --secondary-color: #4a4c50;
  --primary-color: #919191;
  --highlight-color: #eaeaea;
  --warn-color: #f9dd0e;
  --good-color: rgba(10, 71, 16, 0.75);
  --bad-color: rgba(126, 49, 49, 0.75);
  --info-color: rgba(12, 70, 88, 0.75);
  --small-space: 16px;
  --med-space: 32px;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* utils */

.bordered {
  border: 1px solid var(--secondary-color);
}

.interactive.active {
  color: var(--highlight-color);
  border-color: var(--primary-color);
}

.interactive:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* components */

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--small-space);
  padding-bottom: 16px;
  overflow-x: scroll;
}

.version {
  color: var(--primary-color);
  margin: 0 4px;
}

.version.active,
.version:hover {
  color: var(--highlight-color);
}

.version-list__clear {
  position: absolute;
  right: 0;
  height: inherit;
  border: 0;
  color: var(--primary-color);
  background: none;
}

.version-list__clear:hover {
  cursor: pointer;
}

.overview {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.timeline {
  flex: 1;
  overflow: scroll;
}

.timeline__clear {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--med-space);
  color: var(--primary-color);
  background-color: var(--bg-color);
  z-index: 1;
}

.timeline__entry {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 8px;
  height: var(--med-space);
  overflow-x: scroll;
}

.timeline__entry.new::after {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--warn-color);
}

.timeline__entry.blame {
  background-color: var(--good-color);
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow: hidden;
}

.details__log {
  position: absolute;
  top: calc(var(--med-space) + var(--small-space));
  right: var(--small-space);
  border: 0;
  background: var(--secondary-color);
  color: var(--highlight-color);
}

.details__log:hover {
  cursor: pointer;
}

.details__log:active {
  background: none;
}

.tabs__tab {
  height: var(--med-space);
  width: 50%;
  color: var(--primary-color);
  background: none;
}

.tabs__content {
  color: var(--highlight-color);
  overflow-y: scroll;
}

.tabs__content .indented {
  margin-left: 16px;
}

.tabs__content .added {
  background-color: var(--good-color);
}

.tabs__content .next {
  background-color: var(--info-color);
}

.tabs__content .removed,
.tabs__content .prev {
  background-color: var(--bad-color);
  text-decoration: line-through;
}

.tabs__content .changed {
  display: inline;
}
