:root {
  --bg-color: #292a2d;
  --secondary-color: #4a4c50;
  --primary-color: #919191;
  --highlight-color: #eaeaea;
  --warn-color: #f9dd0e;
  --good-color: rgba(10, 71, 16, 0.75);
  --bad-color: rgba(126, 49, 49, 0.75);
  --info-color: rgba(12, 70, 88, 0.75);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  padding-bottom: 16px;
  overflow-x: scroll;
}

.version {
  color: var(--primary-color);
  margin: 0 4px;
}

.version.active,
.version:hover {
  color: var(--highlight-color);
}

.overview {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.timeline {
  flex: 1;
  overflow: scroll;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid var(--secondary-color);
  overflow: hidden;
}

.timeline__entry {
  position: relative;
  display: flex;
  padding: 8px;
  border: 1px solid var(--secondary-color);
  overflow-x: scroll;
}

.timeline__entry.active {
  color: var(--highlight-color);
  border-color: var(--primary-color);
}

.timeline__entry.new::after {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--warn-color);
}

.timeline__entry:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.tabs__tab {
  height: 32px;
  width: 50%;
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  background: none;
}

.tabs__tab.active {
  color: var(--highlight-color);
  border-color: var(--primary-color);
}

.tabs__tab:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.tabs__content {
  color: var(--highlight-color);
  overflow-y: scroll;
}

.tabs__content .indented {
  margin-left: 16px;
}

.tabs__content .added > span {
  background-color: var(--good-color);
}

.tabs__content .next {
  background-color: var(--info-color);
}

.tabs__content .removed > span,
.tabs__content .prev {
  background-color: var(--bad-color);
  text-decoration: line-through;
}

.tabs__content .changed {
  display: inline;
}
